* {
    margin: 0;
    padding: 0;
}

.bwd_continer {
    display: flex;
    justify-content: center;
}
#bwd_sm_screen {
    visibility: hidden;
    color: #071159;  
}
 
.bwd_content {
    position: absolute;
    left: 40%; 
    top: 30px;
}

#bwd_lg_screen {
    visibility: visible;
    color: #071159;  
    font-size: 1.7rem;
    margin-bottom: 30px;
}
.bwd_flex_content{
    display: flex;
}

.bwd_input {
    height: 40px;
    width: 70%;  
}

.bwd_button { 
    background-color: white;
    margin-left: 40px; 
    margin-right: 20%;
    width: 40%; 
    height: 40px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.bwd_button span {
    color: #209baf;
    font-size: 0.8em;
    font-weight: 900;  
    margin-top: 10px;
}

/* Small devices */
@media only screen and (max-width: 480px) {  

    .bwd_image img {
        width: 170px;
        height: 200px;
     }
     
    #bwd_sm_screen {
        font-size: 1.4rem;
    }

    .bwd_input{ 
        margin: 20px 0 0 0px!important; 
        width: 100%!important;
    }
}

/* Small devices */
@media only screen and (max-width: 640px) {  
   
    #bwd_sm_screen {
        visibility: visible;
        margin-left: 20px;
        margin-top: 40px;
    }

    #bwd_lg_screen{
        visibility: hidden;
        display: none;
    }

    .bwd_flex{
        display: flex; 
    }

    .bwd_content {  
        top: 35%!important;
        left: 5%!important;  
        width: 90%;
    } 

    .bwd_input{ 
        margin: 40px 0 0 0px; 
        width: 100%!important;
    }

    .bwd_button{
        margin: 20px 0 0 0px!important; 
        width: 100%!important;
    }

}

/* Medium devices */
@media only screen and (max-width: 768px) {  

    .bwd_input{
        width: 80%;
    }
    .bwd_button{
        width: 80%;
    }
}

/* Large devices */
@media only screen and (max-width: 992px) {

    .bwd_content{
        left: 40%;
    }

    .bwd_flex_content{
        display: block;
    }

    .bwd_button {
        margin-left: 0px;
        margin-top: 20px;
    }


}

/* Extra large devices */
@media only screen and (max-width: 1200px) {
}